<div class="card mat-card">
    <div class="card-titles">
        <h2>Proyectos</h2>
        <div class="divider"></div>
        <div class="btn-edit" onclick="editar_acercade()"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
        </div>
    </div>
    <div>
        <!--<p id="text-acercade">En esta sección deberá encontrarse la información sobre los proyectos que desarrollaste o en que te involucraste, incluyendo este portfolio web. Cada proyecto deberá contener el nombre, fecha de realización, descripción y el link a su evidencia. Además, podes ilustra esta sección con imágenes de los proyectos.</p>-->
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="escribir_acercade(this.value)" style="display:none">
    </div>

    <!-- Items de Proyectos realizados-->
    <div id="info-data" style="padding: 16px">
        <ul id="info-details">
            <li><a href="#">
                <img src="../../../assets/LogoAP2.png">
                <h2>Año 2022. <br>Portafolio FullStack. <br>Programa Argentina Programa<br>ABRA PAMPA-JUJUY.</h2>
            </a></li>
        </ul>
        <ul id="info-details">
            <li><a href="#">
                <img src="../../../assets/LogoAP2.png">
                <h2>Año 2022. <br>Portafolio Estático. <br>Programa Argentina Programa<br>ABRA PAMPA-JUJUY.</h2>
            </a></li>
        </ul>
    </div>
</div>
