<div class="card mat-card">
    <div class="card-titles">
        <h2>Proyectos</h2>
        
    </div>


    <div class="row">
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <div id="info-data">
                    <ul id="info-details">
                        <li><a href="#">
                            <img src="../../../assets/LogoAP2.png">
                            <h2>Año 2022. <br>Portafolio FullStack. <br>Programa Argentina Programa<br>ABRA PAMPA-JUJUY.</h2>
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/proyecto-portfolio-ejemplo" class="img-fluid img-proyecto">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <div id="info-data">
                    <ul id="info-details">
                        <li><a href="#">
                            <img src="../../../assets/LogoAP2.png">
                            <h2>Año 2022. <br>Portafolio Estático. <br>Programa Argentina Programa<br>ABRA PAMPA-JUJUY.</h2>
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/proyecto-portfolio-ejemplo" class="img-fluid img-proyecto">
            </div>
        </div>
    </div>

</div>
