<div class="card mat-card">
    <div class="card-titles">
        <h2>Educación</h2>
        <div class="divider"></div>
        <div class="btn-edit" onclick="editar_acercade()"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <div>
        <!--<p id="text-acercade">Escribr toda la información académica, certificaciones, cursos, y todo lo relacionado al título con que actualmente contás. Es importante detallar la información de la institución, el logo (de ser posible), nombre, carrera o título estudiado, y en qué periodo o año</p>-->
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="escribir_acercade(this.value)" style="display:none">
    </div>
    <!-- Items de estudios realizados-->
    <div id="info-data" style="padding: 16px">
        <ul id="info-details">
            <li><a href="#">
                <img src="../../../assets/LogoInstituto.png">
                <h2>Año 2019. <br>PROFESORADO DE MATEMÁTICA. <br>Instituto de Educación Superior IES. N°1<br>ABRA PAMPA-JUJUY.</h2>
            </a></li>
        </ul>
        <ul id="info-details">
            <li><a href="#">
                <img src="../../../assets/LogoInstituto.png">
                <h2>Año 2011. <br>TÉCNICO EN INFORMÁTICA. <br>Instituto de Educación Superior IES. N°1<br>ABRA PAMPA-JUJUY.</h2>
            </a></li>
        </ul>
    </div>
</div>