<div class="card mat-card" id="first-card">
    <div id="info" >
        <div id="profile-background">
            <img src="../../../assets/intro-bg2.jpg">
        </div>
        <!--Menú Home y Login-->
        <nav>
            <!--Logo y nombre del programa-->
            <img src="../../../assets/LogoAP2.png" class="logo">
            <div class="programa">
                <h1>Argentina <span>Programa</span></h1>
                <div class="divider"></div>
                <p>#YoProgramo</p>
            </div>
            <!--Menú de navegación-->
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre mí</a></li>
                <li><a href="#">Portafolio</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <a href="/login" class="btn" *ngIf="!isLogged">Login</a>
            
            <!--Probamos cerrar sesión-->
            <a href="/login" class="btn" (click)="onLogOut()" *ngIf="isLogged">Cerrar</a>
        </nav>
        <!--Fin Probando menú Home y Login-->
        
        <!-- Integración de Redes Sociales-->
        <div class="info-redes">
            <div class="info-img" style="padding: 16px">
                <img class="profile-image" src="../../../assets/profile-pic.jpg">
                
            </div>
            <div class="redes">
                <!--<a href="#"><i class="fab fa-github"></i></a>-->
                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <!--Fin de prueba-->
    </div>
    <!--Información Personal-->
    <div id="info-data" style="padding: 16px">
            <div class="content">
                <div class="btn-edit">
                    <a href="/editheader/1" *ngIf="isLogged" class="btn-right">
                    <i class="fas fa-plus"></i></a>
                </div>
            
                <div class="title">
                    <h2>{{persona.nombre}}<span> {{persona.apellido}}</span></h2>
                </div>
                    <p>{{persona.descripcion}} Innovador y entusiasta por la programación, especialmente Python y Java. Siempre estoy en constante aprendizaje y con el tiempo aspiro en convertirme en un gran profesional.</p>
                <div id="info-company">
                    Desarrollador Full Stack Developer Jr.
                </div>
                <div id="info-contact">
                    Jujuy (Argentina)
                    <span><a href="#">Información de contacto</a></span>
                </div>
            </div>
   
        <!-- Lista de items-->
        <ul id="info-details">
            <li><a href="#">
                <img src="../../../assets/OE_Logo.png">
                <h2>Tallerista de Alfabetización Digital</h2>
            </a></li>
            <li><a href="#">
                <img src="../../../assets/LogoInstituto.png">
                <h2>IES N°1. Egresado cómo Profesor de Matemática.</h2>
            </a></li>
        </ul>
    </div>
</div>