<div class="card mat-card" id="first-card">
    <div id="info" >
        <div id="profile-background">
            <img src="../../../assets/intro-bg2.jpg">
        </div>
        <!--Menú Home y Login-->
        <nav>
            <!--Logo y nombre del programa-->
            <img src="../../../assets/LogoAP2.png" class="logo">
            <div class="programa">
                <h1>Argentina <span>Programa</span></h1>
                <div class="divider"></div>
                <p>#YoProgramo</p>
            </div>
            <!--Menú de navegación-->
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre mí</a></li>
                <li><a href="#">Portafolio</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <a href="#" class="btn">Login</a>
        </nav>
        <!--Fin Probando menú Home y Login-->
        
        <!-- Integración de Redes Sociales-->
        <div class="info-redes">
            <div class="info-img" style="padding: 16px">
                <img class="profile-image" src="../../../assets/profile-pic.jpg">
                <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
            </div>
            <div class="redes">
                <!--<a href="#"><i class="fab fa-github"></i></a>-->
                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <!--Fin de prueba-->
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="escribir_acercade(this.value)" style="display:none">
    </div>
    
    <!--Información Personal-->
    <div id="info-data" style="padding: 16px">
        <div class="content">
            <div class="title">
                <h2>Angel<span> Rivero</span></h2>
            </div>
            <p>Innovador y entusiasta por la programación, especialmente Python y Java. Por los continuos avances tecnológicos, siempre estoy en constante aprendizaje. Con el tiempo aspiro a convertirme en un gran profesional y mejorar siempre mis habilidades.</p>
            <div id="info-company">
                Desarrollador Full Stack Developer Jr.
            </div>
            <div id="info-contact">
                Jujuy (Argentina)
                <span><a href="#">Información de contacto</a></span>
            </div>
        </div>
        <!-- Lista de items-->
        <ul id="info-details">
            <li><a href="#">
                <img src="../../../assets/OE_Logo.png">
                <h2>OE. Tallerista de Alfabetización Digital</h2>
            </a></li>
            <li><a href="#">
                <img src="../../../assets/LogoInstituto.png">
                <h2>IESN°1. Egresado cómo Profesor de Matemática</h2>
            </a></li>
        </ul>
    </div>
</div>
