<div class="card mat-card">
    <div class="card-titles">
            <h2>Experiencia</h2>
            <div class="btn-edit" onclick="editar_acercade()"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
            </div>
    </div>
    <div>
        <p id="text-acercade">Aquí colocaras toda la información de los lugares donde has trabajado, incluyendo título del puesto, periodo, logo de la empresa, si lo encontrás, y descripción de las actiivdades realizadas en ese puesto.</p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="escribir_acercade(this.value)" style="display:none">
    </div>
    <!-- Items de experiencias de trabajo-->
    <!--
    <div id="info-data" style="padding: 16px">
        <ul id="info-details">
            <li><a href="#">
                <img src="../../../assets/OE_Logo.png">
                <h2>Año 2013. <br>OFICINA DE EMPLEO. <br>Tallerista de Alfabetización Digital<br>ABRA PAMPA-JUJUY.</h2>
            </a></li>
        </ul>
        <ul id="info-details">
            <li><a href="#">
                <img src="../../../assets/NAC_Logo.png">
                <h2>Año 2012. <br>NÚCLEOS DE ACCESO AL CONOCIMIENTO. <br>Capacitador de Operador de PC I.<br>ABRA PAMPA-JUJUY.</h2>
            </a></li>
        </ul>
    </div>
    -->

    <!--Probamos ngFor con json-->
    <div id="info-data">
        <ul id="info-details" *ngFor="let experiencia of experienciaList">
            <li>
                    <a href="#">
                        <div class="logo-image-container">
                            <img 
                                class="logo-image"
                                src="{{experiencia.img}}"
                            />
                        </div>
                        <div class="list-info">
                            <div>
                                <time>{{experiencia.start}}</time>
                                <p>{{experiencia.position}}<br>
                                {{experiencia.company}}</p>
                            </div>
                        </div>
                    </a>
            </li>
        </ul>
    </div>
</div>