<div class="card mat-card">
    <div class="card-titles">
        <h2>Contacto</h2>
        
    </div>
    <!-- Sección de Contactos-->
    <div class="contact-section">
        <div class="container-contact">
        <div class="contact-form">
            <h4>Enviar mensaje...</h4>
            <form class="form">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea placeholder="Ingresá tu mensaje aquí...">
            </textarea>
            <button class="btn-submit">
                Enviar 
            </button>
            </form>
        </div>
        </div>
    </div>
</div>
