.divider {
    height: 4px;
    width: 40px;
    background-color:#0CB7F2;
    margin-top: -10px;
    margin-bottom: 1em;
    
  }
  
  /* Selector de clase */
.mat-card {
    /*Atributos*/
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color:#757575;
    
}
  
.mat-card#first-card {
    padding: 0;
    
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto; /* Create 2 columns and auto-place rows */
    align-self: center;
}

/*Para pantallas pequeñas*/
@media screen and (max-width:768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr; /* Create 2 columns and auto-place rows */
        align-self: center;
        /*flex-shrink no permite adaptar el tamaño*/
        flex-shrink: 0;
        
    }
}
/*Fin de pantallas pequeñas*/
