<div class="card mat-card">
    <div class="card-titles">
        <h2>Hard & Soft Skills</h2>
        <div class="divider"></div>
        <div class="btn-edit" onclick="editar_acercade()"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
        </div>
    </div>
    <div>
        <p id="text-acercade">Con una forma de visualización atractia (por ejemplo, porcentajes) mostrarás tu grado de dominio de habilidades duras y blandas. Podés también generar una sección adicional con tu nivel de idiomas.</p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="escribir_acercade(this.value)" style="display:none">
    </div>

    
</div>
