<div class="card mat-card">
  <div class="card-titles">
    <h2>Hard & Soft Skills</h2>
    <div class="divider"></div>
    <div class="btn-edit">
      <a href="/newskill" *ngIf="isLogged" class="btn-right">
        <i class="fas fa-plus"></i
      ></a>
    </div>
  </div>
  <!--
    <div class="text-center">
        <circle-progress
            [percent]="75"
            [radius]="90"
            [imageSrc]="'../assets/iconos/logo-html.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ef7f3f'"
            [innerStrokeColor]="'#ffedbe'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <circle-progress
            [percent]="65"
            [radius]="90"
            [imageSrc]="'../assets/iconos/logo-css.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#44b4c4'"
            [innerStrokeColor]="'#80c9c6'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <circle-progress
            [percent]="65"
            [radius]="90"
            [imageSrc]="'../assets/iconos/logo-java.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        <circle-progress
            [percent]="65"
            [radius]="90"
            [imageSrc]="'../assets/iconos/logo-github.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#7f00b2'"
            [innerStrokeColor]="'#bc4ed8'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>

    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="escribir_acercade(this.value)" style="display:none">
    </div>
    -->
    <div class="text-center" style="margin: auto;" *ngFor="let skill of skill">
        <circle-progress
        [percent]="skill.porcentaje"
        [radius]="90"
        [imageSrc]="'../assets/iconos/logo-css.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="skill.colorOuter"
        [innerStrokeColor]="skill.colorInner"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
        <div *ngIf="isLogged">
        <button class="btn btn-light" routerLink="/editskill/{{ skill.id }}">
            <i class="fas fa-pen"></i>
        </button>
        <button class="btn btn-light" (click)="delete(skill.id)">
            <i class="fas fa-trash-alt"></i>
        </button>
        </div>
    </div>
</div>
